.hero {
  color: #fff;
}

.hero__main {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}
@media screen and (max-width: 700px) {
  .hero__main {
    flex-direction: column-reverse;
    margin: 0;
  }
}

.hero p,
.hero h1,
.hero span {
  text-shadow: 2px 4px 9px rgba(0, 0, 0, 0.38);
}

.hero__location {
  text-align: right;
}
@media screen and (max-width: 700px) {
  .hero__location {
    text-align: center;
  }
}

.hero__time {
  font-size: 4rem;
  margin: 0 0 20px 0;
}

.hero__weather {
  font-size: 1rem;
  margin: 0;
}
@media screen and (max-width: 700px) {
  .hero__weather {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.hero__temp {
  font-size: 7rem;
  margin: 0;
}

.hero__condition {
  font-size: 3rem;
}

.hero__city {
  font-size: 3rem;
  margin: 20px 0;
}

.hero__country {
  font-size: 1.5rem;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .hero__date {
    display: none;
  }
}
